.services {
    display: grid;
    margin: auto;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    gap: 40px;
    padding: 3rem 0;

    figure {
        position: relative;
        // overflow: hidden;
        
        height: 250px;
    }

    img {
        // object-fit: cover;
        transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    figcaption {
        color: $jaune;
        font-family: $fontTexte;
        align-self: center;
        font-size: large;
    
    }
}