main {
   
    padding: 30px 60px;
    text-align: center;

    h2 {
        font-size: 2rem;
        margin-bottom: 40px;
    }
    
    h3 {
        font-size: 1.5rem;
        font-weight: 400;
        padding-bottom: 1rem;
    }



}