nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $noir;
    position: fixed;
    width: 100%;
    min-height: 85px;
    z-index: 10002;
   
    
}