body {
    background-color: $noir;
   

    h1, h2 {
        font-family: $fontTitre;
        color: $rouge;
    }

    p {
        font-family: $fontTexte;
        color: $jaune;
        font-size: 1.5rem;
        margin: 0 50px;
    }
    h3 {
        font-family: $fontTitre;
        color: $jauneFoncé;
    }
}