
// font
$fontTexte: 'Mukta Mahee', sans-serif;
$fontTitre: 'Poppins', sans-serif;

//couleur
$noir: #1C2023;
$gris: #5D5B5E;
$rouge: #E8272F;
$rougeFoncé: #321315;
$jaune: #DA8F41;
$jauneFoncé: #F79623;
